{% extends 'base.html' %}
{% load draw_menu %}
{% block content %}
{% if not menus %}
 Создайте меню в <a href="/admin/">Aдминке!</a>
 <p>Краткие правила создания:
  <ul>
   <li>Название первого (корневого) пункта меню может содержать только английские буквы, цифры и знак "_"</li>
   <li>Название первого (корневого) пункта должно быть уникально.</li>
   <li>Название пунктов меню(подменю) могут содержать любые буквы и символы и могут быть одинаковыми.</li>
   <li>url - не обязателен. Можно использовать named url</li>
  </ul>
{% endif %}
 {% for menu in menus %}
  {% draw_menu menu.title %}<br>
 {% endfor %}

<a href="{% url 'menu:expanded' %}"> Показать вариант меню с использованием css</a>

{% endblock %}